/*=========================================================*/
/* Resetare CSS - prin invocarea meyer-reset/2.0/reset.css */
/*=========================================================*/

* {box-sizing: border-box;}

body { 
  /*background: url("assets/afco.png") repeat center;*/

  width: calc(100vw-10px);
  height: 925px;
}

header {
  height: 15%;
  width: 100%;
  position: relative;
  min-width: 350px;
  display: flex;
}

.hdr1 {
  background: url("assets/sigla.jpg") no-repeat center/cover;
  height: 100%;
  float: left;
  width: 5rem;
  object-fit: scale-down;
}

.hdr2 {
  background: url("assets/cover2-header.jpg") no-repeat center/cover;
  width: calc(100% - 10rem);
  height: 100%;
  float: left;
}

.hdr3 {
  background: url("assets/drapel.jpg") no-repeat center/cover;
  height: 100%;
  float: left;
  width: 5rem;
  object-fit: scale-down;
}

.antet-wrapper {
  height:100%;
  width: 100%;
  font-family: "Libre Baskerville", Arial;
  font-size: 1.5rem;
  line-height: 1.5;
  color: blue;
  margin: 0 auto;
  display: block;
  background-color: hsla(160,50%,80%,0.2);
  text-align: center;
  padding-top: 0.2rem;
}

@media (min-width: 768px) {
 .antet-wrapper {
    width: 50%;
  }
}

.asoc {
  font-family: "Libre Baskerville", Arial;
}

.fii-com, .obil {
  font-family: "Libre Baskerville",Arial;
}

.coverx {
  width: 100%;
  height: 81%;
  margin: 5px 0 0 0;
  display: block;

}


.div-motto h5 {
  font-size: 0.9rem;
  line-height: 1.2;
}

.div-motto p {
  font-size: 0.8rem;
  line-height: 1.2;
}

.mot-art {
  width: 100%;
  height: 92%;
  display: block;
}
/* ==================================== */
nav{
  width: 99.3%;
  height: 10%;
  margin: 0.1rem;
  border-style: solid;
  border-width: 0.12rem;
  border-color: black;
  border-radius: 0.5rem;
  background-color: aliceblue;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 1.1rem;
  text-align: center;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.but {
  width: 7rem;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  border-style: solid;
  border-width: 0.12rem;
  border-color: black;
  border-radius: 0.5rem;
  vertical-align: middle;
  white-space: nowrap;  
}

a {
 text-decoration: none;
}
/*==========================================*/
.div-articol {
  width: 99.3%;
  height: 98%;
  background: url("assets/monument.jpg") no-repeat 48% center/cover;
  background-color: hsla(100,50%,80%,0.2);
  object-fit: scale-down;
  margin: 0.1rem;
  margin-top: -0.3rem;
  border-style: solid;
  border-width: 0.12rem;
  border-color: black;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  line-height: 1.8;
  padding-top: 0.rem;
  color: #ffffff;
  display: bloc;
}

.div-motto {
  width: 98.8%;
  height: 7%;
  margin: 0.05rem auto;
  padding-right: 0.2rem;
  text-align: right;
}

/*.articol {
  width: 100%;
  height: 100%;

}*/


footer {
  width: 100%;
  height: 5%;
  display: block;
}

.footer-wrapper {
  width: 90%;
  height: 90%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;  
  text-align: center;
  margin: auto;
  background-color:darkgray;
}

footer p {
  font-size: 0.75rem;
  padding-top: 0.5rem;
  margin:auto;
}

.articol h1 {
  font-family: "Playfair Display",Arial;
  padding: 1rem; 
  text-decoration: underline;
  text-align: center;
}

.articol p {
  font-size: 1rem;
}

.articol p::first-letter {
  font-size: x-large;
  padding-left: 1rem;
}

/*
@media (min-width: 425px) {

  .sigla-wraper {
      width: 82px;
  }
}

@media (min-width: 425px) {

  .sigla-wraper {
    width: 82px;
    
  }
}

/*==== Reguli stil pt butoane ====*/


*/

/*
@media (min-width: 425px) {

  .cover2 {
    width: 100%;
  }
}


*/
/*
@media (min-width: 425px) {

  .flag-wrapper {
    width: 82px;
  }
}
*/
/*

  object-fit: scale-down;

*/
