/*=========================================================*/
/* Resetare CSS - prin invocarea meyer-reset/2.0/reset.css */
/*=========================================================*/

* {box-sizing: border-box;}

body { 
  width: 100vw;
  height:100vh;
  background: url("assets/afco.png") repeat center;
}

header {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}
.hdr1, .hdr2, .hdr3 {
   height: 100%; 
}
.hdr1 {
  background: url("assets/sigla.png") no-repeat center/cover;
  width: 6.5rem;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  border-radius: 0.5rem;
}

.hdr2 {
  background: url("assets/cover2-header.jpg") no-repeat center/cover;
  display: flex;
  width: calc(100% - 13rem);
  justify-content: center;
}

.hdr3 {
  background: url("assets/drapel.png") no-repeat center/cover;
  width: 6.5rem;
}

.antet-wrapper {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: blue;
  background-color: hsla(160,50%,80%,0.2);
  text-align: center;
  justify-content: space-around;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bolder;
}


.n-antet1 p {
  font-family: 'Dancing Script', cursive;

}

.n-antet2 p{
  font-family: 'Dancing Script', cursive;
}

.n-antet3 p{
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1em;
  text-transform: uppercase;
  font-style: italic;
}


nav{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.but {
  width: 8em;
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  border-style: solid;
  border-width: 0.12rem;
  border-color: black;
  border-radius: 0.5rem;
  vertical-align: middle;
  white-space: nowrap;  
}

a {
 text-decoration: none;
}

.coverx {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.3;
  color:azure;
  font-family: 'Cormorant Garamond', serif;
}


.article {
  width: 100%;
  margin: auto;
  background: url("assets/monument.jpg") no-repeat 46% center/cover;
}

.foreword {
  width: 100%;
  margin: auto;
}

.motto-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.9em;
  line-height: 1;
  padding-bottom: 0.7em;
}


.footer-wrapper {
  margin: auto;
  height: 4%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 4px;  
  text-align: center;
  background-color:darkgray;
}

footer p {
  font-size: 0.8em;
  line-height: 1;
  margin: auto;
  vertical-align: middle;
}

.foreword h1 {
  font-size: 2em;
  line-height: 1;
  color:white;
  padding: 1rem; 
  text-decoration: underline;
  text-align: center;
}


.foreword  p::first-letter {
  font-size: 2rem;
  padding-left: 2rem;
  color:white;
  font-weight: bolder;
}



@media (min-width: 768px) {
 .antet-wrapper {
    width: 50%;
    font-size: 1.5em;
    line-height: 1.2;
    letter-spacing: 0.3rem;
  }
  .coverx {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .article {
    width: 75%;
  }
}


@media (min-width: 1024px) {
  
  .hdr1 {
    width: 9rem;
  }
  .hdr2 {
    width: calc(100% - 18rem);
  }
  .hdr3 {
    width: 9rem;
  } 
  
 .antet-wrapper {
    font-size: 1.8em;
    line-height: 1.6;
    letter-spacing: 0.6rem;
   }
  
 nav{
  font-size: 1.4rem;
  line-height: 1.5;
  }
   
  .coverx {
    font-size: 1.5rem;
    line-height: 1.6; 
  }
  .article {
    width: 65%;

  }
}

@media (min-width: 1440px) {
  .hdr1 {
    width: 11rem;
  }
  .hdr2 {
    width: calc(100% - 18rem);
  }
  .hdr3 {
    width: 11rem;
  } 
  
  .antet-wrapper{
    font-size: 2.4em;
    line-height: 1.8;
    font-weight: bolder;
  }
  
  nav{
   font-size: 1.6rem;
   line-height: 1.8;
  }
  
  .coverx {
    font-size: 2rem;
    line-height: 1.8;
  }
  
  .article {
    width: 60%;
  }
}

@media (min-width: 2560px) {
  
  header {
    height: 21%;
  }
  .hdr1 {
    width: 20rem;
  }
  .hdr2 {
    width: calc(100% - 40rem);
  }
  .hdr3 {
    width: 20rem;
  } 
  
  .antet-wrapper {
    font-size: 3em;
    line-height: 2;
    letter-spacing: 1.5rem;
   }
  
  nav{
   font-size: 2rem;
   line-height: 2.2;
  }
  .coverx {
    font-size: 3rem;
    line-height: 2.4;
  }
  .article {
    width: 55%;
  }
}
